* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* HEADER */
header {
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: url("header.gif");
}

/* HEADER VIDEO */
header > div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header > div > video {
    position: relative;
    object-fit: cover; 
}

h1 {
    color: hsla(0, 0%, 0%, .9);
    font-size: 6em;
}

h2 {
    color: hsla(0, 0%, 0%, .9);
    font-size: 4em;
}

h3 {
    color: hsla(0, 0%, 0%, .9);
    font-size: 1.5em;
    font-style: oblique;
}



/* MENÚ */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 80px;
    background-color: rgb(255, 251, 210);
    z-index: 1;
    top: 0;
}

#menu > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

#menu > ul > li {
    padding: 0 120px;
    list-style: none;
}

#menu > ul > li > a {
    font-weight: 1000;
    color: #000000;
}

#menu > ul > li:first-child {
    display: none;
}

#menu > ul > li > a:hover {
    color: white;
}



/* SECTION */
section {
    width: 100%;
    height: 100vh;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

section > h2 {
    margin: 80px;
    font-size: 8em;
    color: #000000;
}

section > p {
    margin: 0 600px;
}



/* PROJECTS */
#projects {
    width: 100%;
    max-width: none;
    position: relative;
    height: 400vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#projects > div > img {
    float: left;
    width: 500px;
    height: 500px;
    z-index: auto;
}

#projects > div > h2 {
    margin-right: 10px;
    margin-top: 5em;
}

#projects > div > p {
    margin-right: 10px;
    margin-top: 1em;
    margin-left: 10px;
}
